import 'package:json_annotation/json_annotation.dart';

part '{{fileName}}.g.dart';

{{#clsEntities}}
@JsonSerializable()
class {{className}}{
{{#properties}}
    {{{clsTypeName}}} {{propName}};
{{/properties}}

    {{className}}();

    factory {{className}}.fromJson(Map<String, dynamic> json) =>
        _${{propName}}FromJson(json);

    Map<String, dynamic> toJson() => _${{propName}}ToJson(this);
}


{{/clsEntities}}