import 'package:flutter_demo_plus/base/base.dart';


class {{className}}Sample extends AbsPageNode {
  @override
  String name() {
    return '{{className}}';
  }

  @override
  List<WidgetNode> nodes() {
    return [

    ];
  }
}