import 'package:flutter_demo_plus/base/base.dart';

class {{className}} extends WidgetNode {

  @override
  String name() {
    return super.name();
  }

  @override
  Widget layout() {
    return SizedBox();
  }
}